# Required Imports

In [1]:
import psycopg2
import pandas as pd
from datetime import datetime
import numpy as np
from numpy import nan
from pathlib import Path

# Connecting to the CPDB Database using psycopg2

In [2]:
conn = psycopg2.connect(
    host="codd01.research.northwestern.edu",
    database="postgres",
    user="cpdbstudent",
    password="DataSci4AI")

In [3]:
cursor = conn.cursor()
trr_query = "select * from trr_trr_refresh"
actionresponse_query = "select * from trr_actionresponse_refresh"
trrstatus_query = "select * from trr_trrstatus_refresh"
weapondischarge_query = "select * from trr_weapondischarge_refresh"
charge_query = "select * from trr_charge_refresh"
subjectweapon_query = "select * from trr_subjectweapon_refresh"

## Extracting the tables required

In [4]:
cursor.execute(trr_query)
trr_trr = cursor.fetchall()
print("trr dim is " + str(len(trr_trr))) # 17465

df_trr = pd.DataFrame(trr_trr)
colnames = [desc[0] for desc in cursor.description]
df_trr.columns = colnames

print(df_trr.shape)

trr dim is 17465
(17465, 43)

In [5]:
cursor.execute(actionresponse_query)
trr_actionresponse = cursor.fetchall()
print("actionresponse dim is " + str(len(trr_actionresponse))) # 112995

df_actionresponse = pd.DataFrame(trr_actionresponse)
colnames = [desc[0] for desc in cursor.description]
df_actionresponse.columns = colnames

print(df_actionresponse.shape)

actionresponse dim is 112994
(112994, 5)

In [6]:
cursor.execute(trrstatus_query)
trr_trrstatus = cursor.fetchall()
print("trrstatus dim is " + str(len(trr_trrstatus))) # 63455

df_trrstatus = pd.DataFrame(trr_trrstatus)
colnames = [desc[0] for desc in cursor.description]
df_trrstatus.columns = colnames

print(df_trrstatus.shape)

trrstatus dim is 63455
(63455, 14)

In [7]:
cursor.execute(weapondischarge_query)
trr_weapondischarge = cursor.fetchall()
print("weapondischarge dim is " + str(len(trr_weapondischarge))) # 1308

df_weapondischarge = pd.DataFrame(trr_weapondischarge)
colnames = [desc[0] for desc in cursor.description]
df_weapondischarge.columns = colnames

print(df_weapondischarge.shape)

weapondischarge dim is 1308
(1308, 18)

In [8]:
cursor.execute(charge_query)
trr_charge = cursor.fetchall()
print("charge dim is " + str(len(trr_charge))) #40481

df_charge = pd.DataFrame(trr_charge)
colnames = [desc[0] for desc in cursor.description]
df_charge.columns = colnames

print(df_charge.shape)

charge dim is 40481
(40481, 5)

In [9]:
cursor.execute(subjectweapon_query)
trr_subjectweapon = cursor.fetchall()
print("subjectweapon dim is " + str(len(trr_subjectweapon))) # 11731

df_subjectweapon = pd.DataFrame(trr_subjectweapon)
colnames = [desc[0] for desc in cursor.description]
df_subjectweapon.columns = colnames

print(df_subjectweapon.shape)

subjectweapon dim is 11731
(11731, 4)

# Type Correction

## trr_trr_refresh Type Correction

In [10]:
# trr_trr_datetime conversion from string to date_time in the format matching the one in trr_trr

df_trr['trr_datetime'] = df_trr['trr_datetime'].apply( 
    lambda x:datetime.strptime(x+'00', "%Y-%m-%d %H:%M:%S%z").strftime('%Y-%m-%d %H:%M:%S.%f %z') 
)

df_trr['trr_datetime']

0        2016-04-23 18:18:00.000000 -0500
1        2016-07-04 17:06:00.000000 -0500
2        2016-08-23 16:14:00.000000 -0500
3        2016-09-25 20:00:00.000000 -0500
4        2016-09-30 17:13:00.000000 -0500
                       ...
17460    2020-05-26 00:30:00.000000 -0500
17461    2020-05-26 00:30:00.000000 -0500
17462    2020-05-28 05:20:00.000000 -0500
17463    2020-05-28 05:20:00.000000 -0500
17464    2020-05-28 05:20:00.000000 -0500
Name: trr_datetime, Length: 17465, dtype: object

In [11]:
# trr_beat conversion from string to int

df_trr['beat'] = (df_trr['beat']).astype(int)

df_trr['beat']

0        1124
1         723
2         811
3        2232
4         634
         ...
17460    2534
17461    2534
17462    1023
17463    1023
17464    1023
Name: beat, Length: 17465, dtype: int64

In [12]:
# trr_officer_appointed_date conversion from string to date_time

for i in range(len(df_trr['officer_appointed_date'])):
    if df_trr['officer_appointed_date'][i] != 'REDACTED':
        try: 
            df_trr['officer_appointed_date'][i] = datetime.strptime(
                df_trr['officer_appointed_date'][i], 
                "%m-%d-%y"
            ).date()
        except:
            df_trr['officer_appointed_date'][i] = datetime.strptime(
                df_trr['officer_appointed_date'][i],
                "%Y-%b-%d"
            ).date()

df_trr['officer_appointed_date'] = df_trr['officer_appointed_date'].replace('REDACTED','None')

df_trr['officer_appointed_date']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3754549002.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['officer_appointed_date'][i] = datetime.strptime(
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3754549002.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['officer_appointed_date'][i] = datetime.strptime(

0        2014-02-18
1        2013-11-25
2        2002-09-30
3        2009-12-16
4        2006-02-21
            ...
17460    2019-02-19
17461    2019-08-16
17462    2017-09-18
17463    2018-11-27
17464    2017-09-18
Name: officer_appointed_date, Length: 17465, dtype: object

In [13]:
#trr_officer_birth_year column conversion from string to int

for i in range(len(df_trr['officer_birth_year'])):
    try:
        df_trr['officer_birth_year'][i] = int(df_trr['officer_birth_year'][i])
    except:
        pass

df_trr['officer_birth_year']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3610101066.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['officer_birth_year'][i] = int(df_trr['officer_birth_year'][i])

0        None
1        None
2        None
3        None
4        None
         ...
17460    1995
17461    1996
17462    1989
17463    1994
17464    1984
Name: officer_birth_year, Length: 17465, dtype: object

In [14]:
#trr_officer_age column conversion from string to int

df_trr['officer_age'] = (df_trr['officer_age']).astype(int).abs()

df_trr['officer_age']

0        30
1        30
2        51
3        34
4        46
         ..
17460    25
17461    24
17462    31
17463    26
17464    36
Name: officer_age, Length: 17465, dtype: int64

In [15]:
#trr_officer_on_duty column conversion from string to boolean

for i in range(len(df_trr['officer_on_duty'])):
    if df_trr['officer_on_duty'][i] in ['Yes','Y']:
        df_trr['officer_on_duty'][i]= 1
    elif df_trr['officer_on_duty'][i] in ['No','N']:
        df_trr['officer_on_duty'][i]= 0
    else:
        pass

print(df_trr['officer_on_duty'])

0        1
1        1
2        1
3        1
4        1
        ..
17460    1
17461    1
17462    1
17463    1
17464    1
Name: officer_on_duty, Length: 17465, dtype: object

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/1883731520.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['officer_on_duty'][i]= 1
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/1883731520.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['officer_on_duty'][i]= 0

In [16]:
#trr_officer_injured column conversion from string to boolean

def bool_converter(x):
    if x == 'No':
        return 0
    if x == 'Yes':
        return 1
    
df_trr['officer_injured'] = df_trr['officer_injured'].apply(lambda x : bool_converter(x) )

print(df_trr['officer_injured'])

0        0
1        0
2        0
3        0
4        0
        ..
17460    0
17461    0
17462    0
17463    0
17464    0
Name: officer_injured, Length: 17465, dtype: int64

In [17]:
#trr_officer_in_uniform column conversion from string to boolean

for i in range(len(df_trr['officer_in_uniform'])):
    if df_trr['officer_in_uniform'][i] in ['Yes','Y']:
        df_trr['officer_in_uniform'][i] = 1
        
    elif df_trr['officer_in_uniform'][i] in ['No','N']:
        df_trr['officer_in_uniform'][i] = 0
        
    else:
        pass

df_trr['officer_in_uniform']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3332621949.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['officer_in_uniform'][i] = 1
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3332621949.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['officer_in_uniform'][i] = 0

0        1
1        1
2        1
3        1
4        1
        ..
17460    1
17461    1
17462    1
17463    1
17464    1
Name: officer_in_uniform, Length: 17465, dtype: object

In [18]:
#trr_subject_birth_year column conversion from string to int

temp = (df_trr['subject_birth_year']).astype(int)

for i in range(len(temp)):
    if temp[i] <= 10:
        temp[i] = temp[i] + 2000
    elif temp[i] > 10 and temp[i] < 100:
        temp[i] = temp[i] + 1900
    elif temp[i] > 100 and temp[i] < 200:
        temp[i] = temp[i] + 1800
    elif temp[i] > 1000 and temp[i] < 1100:
        temp[i] = temp[i] + 900
    elif temp[i] > 1100 and temp[i] < 1200:
        temp[i] = temp[i] + 800
    else:
        pass

df_trr['subject_birth_year'] = temp

df_trr['subject_birth_year']

0        1989
1        1989
2        1997
3        1983
4        1985
         ...
17460    1988
17461    1998
17462    1996
17463    1996
17464    1996
Name: subject_birth_year, Length: 17465, dtype: int64

In [19]:
#trr_subject_age column conversion from string to int

#df_trr_refresh['subject_age'] = (df_trr_refresh['subject_age']).astype(int)
temp = (df_trr['subject_age']).astype(int)

for i in range(len(temp)):
    if temp[i] > 100 and temp[i] < 1900:
        temp[i] = temp[i] % 100
    elif temp[i] >= 1900:
        temp[i] = int(pd.to_datetime(df_trr['trr_datetime'][i]).strftime('%Y')) - temp[i]
    else:
        pass

df_trr['subject_age'] = temp

df_trr['subject_age']

0        27
1        27
2        18
3        33
4        31
         ..
17460    32
17461    22
17462    24
17463    24
17464    24
Name: subject_age, Length: 17465, dtype: int64

In [20]:
#trr_subject_armed column conversion from string to boolean

for i in range(len(df_trr['subject_armed'])):
    if df_trr['subject_armed'][i] == 'Yes':
        df_trr['subject_armed'][i] = 1
    elif df_trr['subject_armed'][i] =='No':
        df_trr['subject_armed'][i] = 0
    else:
        pass

df_trr['subject_armed']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3126701459.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['subject_armed'][i] = 0
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3126701459.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['subject_armed'][i] = 1

0        0
1        0
2        0
3        0
4        0
        ..
17460    0
17461    0
17462    0
17463    0
17464    0
Name: subject_armed, Length: 17465, dtype: object

In [21]:
#trr_subject_injured column conversion from string to boolean

for i in range(len(df_trr['subject_injured'])):
    if df_trr['subject_injured'][i] == 'Yes':
        df_trr['subject_injured'][i] = 1
        
    elif df_trr['subject_injured'][i] =='No':
        df_trr['subject_injured'][i] = 0
        
    else:
        pass

df_trr['subject_injured']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/215506665.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['subject_injured'][i] = 0
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/215506665.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['subject_injured'][i] = 1

0        0
1        1
2        0
3        0
4        0
        ..
17460    0
17461    0
17462    0
17463    0
17464    0
Name: subject_injured, Length: 17465, dtype: object

In [22]:
# trr_subject_alleged_injury column conversion from string to boolean

for i in range(len(df_trr['subject_alleged_injury'])):
    if df_trr['subject_alleged_injury'][i] == 'Yes':
        df_trr['subject_alleged_injury'][i] = 1
    elif df_trr['subject_alleged_injury'][i] =='No':
        df_trr['subject_alleged_injury'][i] = 0    
    else:
        pass

df_trr['subject_alleged_injury']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/4262119573.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['subject_alleged_injury'][i] = 0
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/4262119573.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['subject_alleged_injury'][i] = 1

0        0
1        1
2        0
3        0
4        0
        ..
17460    0
17461    0
17462    0
17463    0
17464    0
Name: subject_alleged_injury, Length: 17465, dtype: object

In [23]:
#trr_notify_oemc column conversion from string to boolean

for i in range(len(df_trr['notify_oemc'])):
    if df_trr['notify_oemc'][i] in ['Yes','Y']:
        df_trr['notify_oemc'][i] = 1
    elif df_trr['notify_oemc'][i] in ['No','N']:
        df_trr['notify_oemc'][i] = 0        
    else:
        pass

df_trr['notify_oemc']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/4179150502.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['notify_oemc'][i] = 1
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/4179150502.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['notify_oemc'][i] = 0

0        None
1        None
2        None
3        None
4        None
         ...
17460       1
17461       1
17462       1
17463       1
17464       1
Name: notify_oemc, Length: 17465, dtype: object

In [24]:
#trr_notify_district_sergeant column conversion from string to boolean

for i in range(len(df_trr['notify_district_sergeant'])):
    if df_trr['notify_district_sergeant'][i] in ['Yes','Y']:
        df_trr['notify_district_sergeant'][i] = 1
    elif df_trr['notify_district_sergeant'][i] in ['No','N']:
        df_trr['notify_district_sergeant'][i] = 0        
    else:
        pass

df_trr['notify_district_sergeant']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/1023687005.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['notify_district_sergeant'][i] = 1
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/1023687005.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['notify_district_sergeant'][i] = 0

0        None
1        None
2        None
3        None
4        None
         ...
17460       1
17461       1
17462       1
17463       1
17464       1
Name: notify_district_sergeant, Length: 17465, dtype: object

In [25]:
#trr_notify_op_command column conversion from string to boolean

for i in range(len(df_trr['notify_op_command'])):
    if df_trr['notify_op_command'][i] in ['Yes','Y']:
        df_trr['notify_op_command'][i] = 1
    elif df_trr['notify_op_command'][i] in ['No','N']:
        df_trr['notify_op_command'][i] = 0
    else:
        pass

df_trr['notify_op_command']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3057748822.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['notify_op_command'][i] = 0
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3057748822.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['notify_op_command'][i] = 1

0        None
1        None
2        None
3        None
4        None
         ...
17460    None
17461    None
17462       1
17463       1
17464       1
Name: notify_op_command, Length: 17465, dtype: object

In [26]:
#trr_notify_det_division column conversion from string to boolean

for i in range(len(df_trr['notify_det_division'])):
    if df_trr['notify_det_division'][i] == 'Yes':
        df_trr['notify_det_division'][i] = 1
    elif df_trr['notify_det_division'][i] =='No':
        df_trr['notify_det_division'][i] = 0    
    else:
        pass

df_trr['notify_det_division']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/79878002.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['notify_det_division'][i] = 1

0        None
1        None
2        None
3        None
4        None
         ...
17460    None
17461    None
17462    None
17463    None
17464    None
Name: notify_det_division, Length: 17465, dtype: object

In [27]:
#trr_created conversion from string to timestamp

def convert(x):
    try:
        timestamp = datetime.strptime(x+'00', "%Y-%m-%d %H:%M:%S%z").strftime('%Y-%m-%d %H:%M:%S.%f %z')
        return timestamp
    except:
        return x
    
df_trr['trr_created'] = df_trr['trr_created'].apply( lambda x: convert(x) )

df_trr['trr_created']

0                                    None
1                                    None
2                                    None
3                                    None
4                                    None
                       ...
17460    2020-05-26 03:42:00.000000 -0500
17461    2020-05-26 03:45:00.000000 -0500
17462    2020-05-28 06:52:00.000000 -0500
17463    2020-05-28 07:24:00.000000 -0500
17464    2020-05-28 08:29:00.000000 -0500
Name: trr_created, Length: 17465, dtype: object

# trr_weapondischarge_refresh Type Correction

In [28]:
# firearm_reloaded column conversion from string to boolean

for i in range(len(df_weapondischarge['firearm_reloaded'])):
    if df_weapondischarge['firearm_reloaded'][i] == 'Yes':
        df_weapondischarge['firearm_reloaded'][i] = 1
    elif df_weapondischarge['firearm_reloaded'][i] =='No':
        df_weapondischarge['firearm_reloaded'][i] = 0    
    else:
        pass

df_weapondischarge['firearm_reloaded']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/450290273.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weapondischarge['firearm_reloaded'][i] = 0
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/450290273.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weapondischarge['firearm_reloaded'][i] = 1

0       None
1       None
2       None
3       None
4       None
        ...
1303    None
1304    None
1305    None
1306    None
1307    None
Name: firearm_reloaded, Length: 1308, dtype: object

In [29]:
# sight_used column conversion from string to boolean

for i in range(len(df_weapondischarge['sight_used'])):
    if df_weapondischarge['sight_used'][i] == 'Yes':
        df_weapondischarge['sight_used'][i] = 1
    elif df_weapondischarge['sight_used'][i] =='No':
        df_weapondischarge['sight_used'][i] = 0    
    else:
        pass

df_weapondischarge['sight_used']

0       None
1       None
2       None
3       None
4       None
        ...
1303    None
1304    None
1305    None
1306    None
1307    None
Name: sight_used, Length: 1308, dtype: object

# trr_trrstatus_refresh Type Correction

In [30]:
# officer_appointed_date conversion from string to date_time

for i in range(len(df_trrstatus['officer_appointed_date'])):
    if df_trrstatus['officer_appointed_date'][i] != 'REDACTED':
        try: 
            df_trrstatus['officer_appointed_date'][i] = datetime.strptime(
                df_trrstatus['officer_appointed_date'][i], 
                "%m-%d-%y"
            ).date()
        except:
            df_trrstatus['officer_appointed_date'][i] = datetime.strptime(
                df_trrstatus['officer_appointed_date'][i],
                "%Y-%b-%d"
            ).date()

df_trrstatus['officer_appointed_date'] = df_trrstatus['officer_appointed_date'].replace('REDACTED','None')

df_trrstatus['officer_appointed_date']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/685284259.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trrstatus['officer_appointed_date'][i] = datetime.strptime(
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/685284259.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trrstatus['officer_appointed_date'][i] = datetime.strptime(

0        2012-11-30
1        2005-08-29
2        1988-11-07
3        2014-11-24
4        2005-08-29
            ...
63450    2002-10-28
63451    1998-07-27
63452    2016-08-29
63453    1998-05-04
63454    1994-05-02
Name: officer_appointed_date, Length: 63455, dtype: object

In [31]:
# officer_birth_year column conversion from string to int

for i in range(len(df_trrstatus['officer_birth_year'])):
    try:
        df_trrstatus['officer_birth_year'][i] = int(df_trrstatus['officer_birth_year'][i])
    except:
        pass

df_trrstatus['officer_birth_year']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/2971638184.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trrstatus['officer_birth_year'][i] = int(df_trrstatus['officer_birth_year'][i])

0        None
1        None
2        None
3        None
4        None
         ...
63450    1980
63451    1974
63452    1980
63453    1969
63454    1963
Name: officer_birth_year, Length: 63455, dtype: object

In [32]:
# status_datetime conversion from string to date_time in the format matching the one in trr_trr

df_trrstatus['status_datetime'] = df_trrstatus['status_datetime'].apply( 
    lambda x:datetime.strptime(x+'00', "%Y-%m-%d %H:%M:%S%z").strftime('%Y-%m-%d %H:%M:%S.%f %z') 
)

df_trrstatus['status_datetime']

0        2016-04-12 11:53:00.000000 -0500
1        2016-04-13 12:02:00.000000 -0500
2        2016-04-13 02:36:00.000000 -0500
3        2016-04-12 11:49:00.000000 -0500
4        2016-04-12 11:50:00.000000 -0500
                       ...
63450    2020-06-06 12:39:00.000000 -0500
63451    2020-06-07 01:17:00.000000 -0500
63452    2020-06-06 02:20:00.000000 -0500
63453    2020-06-06 05:28:00.000000 -0500
63454    2020-06-07 09:56:00.000000 -0500
Name: status_datetime, Length: 63455, dtype: object

# Reconciliation

## Reconcliation for trr_trr_refresh

In [33]:
# reconciling officer_first_name column

temp = df_trr['officer_first_name'].str.title()

for i in range(len(temp)):
    if temp[i][-1] == " ":
        temp[i] = temp[i][:-1]
    temp1 = temp[i].split()
    if len(temp1) > 1:
        temp[i] = temp1[0]

df_trr['officer_first_name'] = temp

df_trr['officer_first_name']

0           Joseph
1            Craig
2             John
3          Stephen
4          Wilford
           ...
17460        David
17461         Luis
17462       Daniel
17463    Francisco
17464      Anthony
Name: officer_first_name, Length: 17465, dtype: object

In [34]:
# reconciling officer_last_name column

for i in range(len(df_trr['officer_last_name'])):
    temp = df_trr['officer_last_name'][i].split()
    if temp[-1] in ['I', 'II', 'III', 'IV', 'V', 'JR', 'SR']:
        if len(temp) > 2:
                temp.pop()
                temp = ' '.join(temp)
                temp = temp.title() #1
                df_trr['officer_last_name'][i] = temp
        else:
            temp = temp[0]
            temp = temp.title() #2
            df_trr['officer_last_name'][i] = temp
    else:
        df_trr['officer_last_name'][i] = df_trr['officer_last_name'][i].title()
    
df_trr['officer_last_name']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/2870596914.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['officer_last_name'][i] = df_trr['officer_last_name'][i].title()
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/2870596914.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['officer_last_name'][i] = temp
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/2870596914.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['officer_last_name'][i] = temp

0        Cunningham
1            Miller
2           Svienty
3             Woods
4            Fields
            ...
17460      Matthews
17461          Baez
17462       Marquez
17463        Galvan
17464         Bravo
Name: officer_last_name, Length: 17465, dtype: object

In [35]:
# officer_birth_year reconcialization already completed while cleaning
df_trr['officer_birth_year'].unique()

array([None, 1956, 1988, 1990, 1984, 1986, 1995, 1981, 1982, 1969, 1963,
       1983, 1980, 1978, 1972, 1975, 1964, 1991, 1987, 1974, 1959, 1965,
       1979, 1989, 1977, 1985, 1966, 1957, 1971, 1962, 1973, 1992, 1967,
       1970, 1993, 1976, 1994, 1968, 1955, 1961, 1960, 1958, 1996, 1997,
       1952, 1998], dtype=object)

In [36]:
df_trr['officer_race'].unique()

array(['WHITE', 'BLACK', 'UNKNOWN', 'HISPANIC', 'ASIAN/PACIFIC ISLANDER',
       'AMER IND/ALASKAN NATIVE'], dtype=object)

In [37]:
df_trr['officer_gender'].unique()

array(['M', 'F'], dtype=object)

In [38]:
max = 0

for i in range(len(df_trr['officer_appointed_date'])):
    if df_trr['officer_appointed_date'][i] != 'None':
        if int(df_trr['officer_appointed_date'][i].year) > 0:
            max = df_trr['officer_appointed_date'][i].year

print(max)

2017

In [39]:
for i in range(len(df_trr['subject_race'])):
    if df_trr['subject_race'][i] in ['UNKNOWN', 'UNKNOWN / REFUSED']:
        df_trr['subject_race'][i] = None
    elif df_trr['subject_race'][i] in ['AMER IND/ALASKAN NATIVE', 'AMER INDIAN / ALASKAN NATIVE']:
        df_trr['subject_race'][i] = 'NATIVE AMERICAN/ALASKAN NATIVE'
    elif df_trr['subject_race'][i] == 'ASIAN / PACIFIC ISLANDER':
        df_trr['subject_race'][i] = 'ASIAN/PACIFIC ISLANDER'
    else:
        pass

df_trr['subject_race'].unique()

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/1116496660.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['subject_race'][i] = None
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/1116496660.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['subject_race'][i] = 'NATIVE AMERICAN/ALASKAN NATIVE'
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/1116496660.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['subject_race'][i] = 'ASIAN/PACIFIC ISLANDER'

array(['BLACK', 'WHITE', None, 'HISPANIC', 'ASIAN/PACIFIC ISLANDER',
       'NATIVE AMERICAN/ALASKAN NATIVE'], dtype=object)

In [40]:
df_trr['subject_gender'].unique()

array(['MALE', 'FEMALE', None], dtype=object)

In [41]:
temp = df_trr['subject_birth_year'].astype(int)

for i in range(len(temp)):
    if temp[i] < 1900:
        if temp[i] < 100:
            if temp[i] < 10:
                temp[i] = temp[i] + 2000
            else:
                temp[i] = temp[i] + 1900
        else:
            temp[i] = (temp[i] % 100) + 1900
            
df_trr['subject_birth_year'] = temp

df_trr['subject_birth_year'].unique()

array([1989, 1997, 1983, 1985, 1994, 1982, 1995, 1960, 1996, 1991, 1993,
       1935, 1987, 1980, 1971, 1972, 1979, 1978, 1975, 1986, 1968, 1984,
       1988, 1981, 1998, 1990, 1963, 1957, 1958, 1956, 1962, 1966, 1965,
       1970, 1955, 1977, 1992, 1947, 1961, 1969, 1964, 1976, 1937, 1954,
       1974, 1973, 1929, 1919, 1959, 1952, 1948, 1967, 1951, 1949, 1900,
       1950, 1901, 1999, 1953, 2001, 1944, 2000, 1902, 1942, 1930, 1922,
       2002, 1940, 1918])

In [42]:
df_trr['party_fired_first'].unique()

array([None, 'MEMBER', 'OFFENDER', 'OTHER'], dtype=object)

In [43]:
df_trr['indoor_or_outdoor'] = df_trr['indoor_or_outdoor'].str.upper()

df_trr['indoor_or_outdoor'].unique()

array([None, 'OUTDOOR', 'INDOOR'], dtype=object)

In [44]:
temp = df_trr['location'].astype(str)

to_convert = ["AIRCRAFT", "CHA HALLWAY / STAIRWELL / ELEVATOR", "CHA PARKING LOT / GROUNDS", 
              "CHURCH / SYNAGOGUE / PLACE OF WORSHIP", "COLLEGE / UNIVERSITY - GROUNDS", 
              "FACTORY / MANUFACTURING BUILDING", "GOVERNMENT BUILDING / PROPERTY", "HIGHWAY / EXPRESSWAY", 
              "HOSPITAL BUILDING / GROUNDS", "LAKEFRONT / WATERFRONT / RIVERBANK", "MEDICAL / DENTAL OFFICE", 
              "MOVIE HOUSE / THEATER", "NURSING / RETIREMENT HOME", "OTHER RAILROAD PROPERTY / TRAIN DEPOT", 
              "OTHER (SPECIFY)", "PARKING LOT / GARAGE (NON RESIDENTIAL)", "POLICE FACILITY / VEHICLE PARKING LOT", 
              "RESIDENCE - GARAGE", "RESIDENCE - PORCH / HALLWAY", "RESIDENCE - YARD (FRONT / BACK)", 
              "SCHOOL - PRIVATE BUILDING", "SCHOOL - PRIVATE GROUNDS", "SCHOOL - PUBLIC BUILDING", 
              "SCHOOL - PUBLIC GROUNDS", "SPORTS ARENA / STADIUM", "TAVERN / LIQUOR STORE", "VACANT LOT / LAND", 
              "VEHICLE - COMMERCIAL", "VEHICLE - OTHER RIDE SHARE SERVICE (LYFT, UBER, ETC.)", "HOTEL / MOTEL", 
              "CTA PARKING LOT / GARAGE / OTHER PROPERTY"
             ]
ideal = ["Airport/Aircraft", "Cha Hallway/Stairwell/Elevator", "Cha Parking Lot/Grounds", 
         "Church/Synagogue/Place Of Worship", "College/University Grounds", "Factory/Manufacturing Building", 
         "Government Building/Property", "Highway/Expressway", "Hospital Building/Grounds", 
         "Lakefront/Waterfront/Riverbank", "Medical/Dental Office", "Movie House/Theater", 
         "Nursing Home/Retirement Home", "Other Railroad Prop / Train Depot", "Other", 
         "Parking Lot/Garage(Non.Resid.)", "Police Facility/Veh Parking Lot", "Residence-Garage", 
         "Residence Porch/Hallway", "Residential Yard (Front/Back)", "School, Private, Building", 
         "School, Private, Grounds", "School, Public, Building", "School, Public, Grounds", "Sports Arena/Stadium", 
         "Tavern/Liquor Store", "Vacant Lot/Land", "Vehicle-Commercial", "Vehicle - Other Ride Service", 
         "Hotel/Motel", "Cta Garage / Other Property"
        ]

for i in range(len(temp)):
    if temp[i] in to_convert:
        temp_idx = [idx for idx, element in enumerate(to_convert) if element == temp[i]]
        temp[i] = ideal[temp_idx[0]]

temp = temp.str.title()

df_trr['location'] = temp

df_trr['location'].unique()

array(['Street', 'Residence', 'Sidewalk', 'Cha Apartment', 'Apartment',
       'Parking Lot/Garage(Non.Resid.)', 'Residence-Garage',
       'Police Facility/Veh Parking Lot', 'Government Building/Property',
       'Restaurant', 'Residence Porch/Hallway',
       'Hospital Building/Grounds', 'Vehicle Non-Commercial',
       'Residential Yard (Front/Back)', 'Park Property', 'Cta Station',
       'Jail / Lock-Up Facility', 'Cta Bus', 'Alley', 'Other',
       'Cta Bus Stop', 'Grocery Food Store',
       'Cha Hallway/Stairwell/Elevator', 'Currency Exchange',
       'Vacant Lot/Land', 'Department Store',
       'Airport Terminal Upper Level - Secure Area', 'Convenience Store',
       'Airport Terminal Lower Level - Non-Secure Area', 'Bar Or Tavern',
       'Drug Store', 'Gas Station', 'Hotel/Motel',
       'Cha Parking Lot/Grounds', 'Cta Garage / Other Property',
       'Taxicab', 'Cta Platform', 'Small Retail Store', 'Bank',
       'Factory/Manufacturing Building', 'School, Public, Grounds',
       'Car Wash', 'Airport Terminal Upper Level - Non-Secure Area',
       'Driveway - Residential', 'Abandoned Building',
       'Sports Arena/Stadium', 'Other Railroad Prop / Train Depot',
       'Tavern/Liquor Store', 'School, Private, Building',
       'Airport/Aircraft', 'Airport Building Non-Terminal - Secure Area',
       'Airport Transportation System (Ats)', 'Vehicle-Commercial',
       'Commercial / Business Office', 'School, Public, Building',
       'Nursing Home/Retirement Home', 'Highway/Expressway', 'Cta Train',
       'Library', 'Church/Synagogue/Place Of Worship',
       'Airport Exterior - Non-Secure Area', 'Airport Parking Lot',
       'College/University Grounds', 'Vehicle - Other Ride Service',
       'Airport Terminal Lower Level - Secure Area',
       'Airport Building Non-Terminal - Non-Secure Area', 'Athletic Club',
       'Barbershop', 'Movie House/Theater', 'Warehouse',
       'Lakefront/Waterfront/Riverbank', 'Construction Site',
       'Other Commercial Transportation', 'Fire Station',
       'School, Private, Grounds', 'Day Care Center',
       'Cta Tracks - Right Of Way', 'Forest Preserve',
       'Coin Operated Machine', 'Cleaning Store',
       'Airport Terminal Mezzanine - Non-Secure Area',
       'Medical/Dental Office', 'Bridge'], dtype=object)

In [45]:
#df_trr['street'].unique()

## Reconcliation for trr_trr_subjectweapon

In [46]:
df_subjectweapon['weapon_type'].unique()

array(['HANDS/FISTS', 'FEET', 'OTHER (SPECIFY)',
       'VERBAL THREAT (ASSAULT)', 'MOUTH (SPIT,BITE,ETC)',
       'FIREARM - SEMI-AUTOMATIC', 'KNIFE/OTHER CUTTING INSTRUMENT',
       'FIREARM - REVOLVER',
       'VEHICLE - ATTEMPTED TO STRIKE OFFICER WITH VEHICLE',
       'VEHICLE - OFFICER STRUCK WITH VEHICLE', 'BLUNT INSTRUMENT',
       'FIREARM - RIFLE', 'FIREARM - SHOTGUN', 'CHEMICAL WEAPON',
       'VEHICLE', 'TASER / STUN GUN'], dtype=object)

## Reconcliation for trr_trrstatus

In [47]:
df_trrstatus['officer_first_name'] = df_trrstatus['officer_first_name'].str.title()

df_trrstatus['officer_first_name']

0           Sylwia
1             Niki
2        Stephanie
3           Eugene
4             Niki
           ...
63450      Charlie
63451       Tamara
63452        Karla
63453         Mark
63454       Nelson
Name: officer_first_name, Length: 63455, dtype: object

In [48]:
# reconciling officer_last_name column

for i in range(len(df_trrstatus['officer_last_name'])):
    temp = df_trrstatus['officer_last_name'][i].split()
    if temp[-1] in ['I', 'II', 'III', 'IV', 'V', 'JR', 'SR']:
        if len(temp) > 2:
                temp.pop()
                temp = ' '.join(temp)
                temp = temp.title() #1
                df_trrstatus['officer_last_name'][i] = temp
        else:
            temp = temp[0]
            temp = temp.title() #2
            df_trrstatus['officer_last_name'][i] = temp
    else:
        df_trrstatus['officer_last_name'][i] = df_trrstatus['officer_last_name'][i].title()
    
df_trrstatus['officer_last_name']

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/2775391528.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trrstatus['officer_last_name'][i] = df_trrstatus['officer_last_name'][i].title()
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/2775391528.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trrstatus['officer_last_name'][i] = temp
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/2775391528.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trrstatus['officer_last_name'][i] = temp

0          Rejman
1          Campus
2          Stuart
3            Vann
4          Campus
           ...
63450     Johnson
63451    Margolis
63452    Espinoza
63453    Flechsig
63454       Perez
Name: officer_last_name, Length: 63455, dtype: object

In [49]:
# officer_birth_year reconcialization already completed while cleaning
df_trrstatus['officer_birth_year'].unique()

array([None, 1959, 1967, 1981, 1972, 1986, 1965, 1969, 1983, 1980, 1978,
       1964, 1975, 1973, 1970, 1984, 1968, 1991, 1988, 1987, 1963, 1974,
       1979, 1971, 1976, 1990, 1989, 1982, 1977, 1985, 1966, 1957, 1962,
       1992, 1960, 1994, 1995, 1955, 1956, 1993, 1958, 1961, 1996, 1997,
       1952, 1998], dtype=object)

In [50]:
for i in range(len(df_trrstatus['officer_race'])):
    if df_trrstatus['officer_race'][i] in ["WHITE HISPANIC", "BLACK HISPANIC"]:
        df_trrstatus['officer_race'][i] = "HISPANIC"
    elif df_trrstatus['officer_race'][i] == "AMER IND/ALASKAN NATIVE":
        df_trrstatus['officer_race'][i] = "NATIVE AMERICAN/ALASKAN NATIVE"
    elif df_trrstatus['officer_race'][i] == "UNKNOWN":
        df_trrstatus['officer_race'][i] = None

df_trrstatus['officer_race'].unique()

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3541171709.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trrstatus['officer_race'][i] = "HISPANIC"
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3541171709.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trrstatus['officer_race'][i] = "NATIVE AMERICAN/ALASKAN NATIVE"
/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3541171709.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trrstatus['officer_race'][i] = None

array(['WHITE', 'BLACK', 'HISPANIC', 'ASIAN/PACIFIC ISLANDER',
       'NATIVE AMERICAN/ALASKAN NATIVE', None], dtype=object)

In [51]:
df_trrstatus['officer_gender'].unique()

array(['F', 'M'], dtype=object)

In [52]:
#df_trrstatus['officer_appointed_date']

max = 0

for i in range(len(df_trrstatus['officer_appointed_date'])):
    if df_trrstatus['officer_appointed_date'][i] != 'None':
        if int(df_trrstatus['officer_appointed_date'][i].year) > 0:
            max = df_trrstatus['officer_appointed_date'][i].year

print(max)

1994

# Linking the Officers

In [53]:
trr_query = "select * from data_officer"
cursor.execute(trr_query)
data_officer = cursor.fetchall()
print("data officer dim is " + str(len(data_officer))) # 17465

df_data_officer = pd.DataFrame(data_officer)
colnames = [desc[0] for desc in cursor.description]
df_data_officer.columns = colnames

print(df_data_officer.shape)

data officer dim is 35545
(35545, 33)

In [54]:
def mapper(to_map_val, to_be_mapped_to_list):
    if to_map_val in np.array(to_be_mapped_to_list):
        mapped_idx = [
            idx for idx, element in enumerate(
                np.array(to_be_mapped_to_list)
            ) if element == to_map_val
        ]
        return([mapped_idx, 1])
    else:
        return([[], 0])

match_counts = [0] * len(df_trr['officer_first_name'])
conflicts = []
matches = []

for i in range(len(df_trr['officer_first_name'])):
    temp_idx, temp_counter = mapper(df_trr['officer_first_name'][i], df_data_officer['first_name'])
    match_counts[i] = match_counts[i] + temp_counter

    temp_idx1, temp_counter = mapper(df_trr['officer_last_name'][i], df_data_officer['last_name'])
    temp_idx = list(set.intersection(*map(set, [temp_idx, temp_idx1])))
    match_counts[i] = match_counts[i] + temp_counter

    if len(temp_idx) == 1:
        if df_trr['officer_race'][i] == df_data_officer['race'][temp_idx[0]]:
            match_counts[i] += 1
        if df_trr['officer_gender'][i] == df_data_officer['gender'][temp_idx[0]]:
            match_counts[i] += 1
        if df_trr['officer_appointed_date'][i] == df_data_officer['appointed_date'][temp_idx[0]]:
            match_counts[i] += 1
        if df_trr['officer_birth_year'][i] == df_data_officer['birth_year'][temp_idx[0]]:
            match_counts[i] += 1
        matches.append([match_counts[i], temp_idx])
    else:
        temp_idx1, temp_counter = mapper(df_trr['officer_appointed_date'][i], df_data_officer['appointed_date'])
        temp_idx = list(set.intersection(*map(set, [temp_idx, temp_idx1])))
        match_counts[i] = match_counts[i] + temp_counter

        if len(temp_idx) == 1:
            if df_trr['officer_race'][i] == df_data_officer['race'][temp_idx[0]]:
                match_counts[i] += 1
            if df_trr['officer_gender'][i] == df_data_officer['gender'][temp_idx[0]]:
                match_counts[i] += 1
            if df_trr['officer_birth_year'][i] == df_data_officer['birth_year'][temp_idx[0]]:
                match_counts[i] += 1
            matches.append([match_counts[i], temp_idx])
        
        else:
            temp_idx1, temp_counter = mapper(df_trr['officer_birth_year'][i], df_data_officer['birth_year'])
            temp_idx = list(set.intersection(*map(set, [temp_idx, temp_idx1])))
            match_counts[i] = match_counts[i] + temp_counter

            if len(temp_idx) == 1:
                if df_trr['officer_race'][i] == df_data_officer['race'][temp_idx[0]]:
                    match_counts[i] += 1
                if df_trr['officer_gender'][i] == df_data_officer['gender'][temp_idx[0]]:
                    match_counts[i] += 1
                matches.append([match_counts[i], temp_idx])

            else:
                temp_idx1, temp_counter = mapper(df_trr['officer_race'][i], df_data_officer['race'])
                temp_idx = list(set.intersection(*map(set, [temp_idx, temp_idx1])))
                match_counts[i] = match_counts[i] + temp_counter

                if len(temp_idx) == 1:
                    if df_trr['officer_gender'][i] == df_data_officer['gender'][temp_idx[0]]:
                        match_counts[i] += 1
                    matches.append([match_counts[i], temp_idx])

                else:
                    temp_idx1, temp_counter = mapper(df_trr['officer_gender'][i], df_data_officer['gender'])
                    temp_idx = list(set.intersection(*map(set, [temp_idx, temp_idx1])))
                    match_counts[i] = match_counts[i] + temp_counter

                    matches.append([match_counts[i], temp_idx])
    
    if len(temp_idx) > 1:
        conflicts.append([i, temp_idx])
    
    if i % 1000 == 0:
        print(str(i) + " done of " + str(len(df_trr['officer_first_name'])))

0 done of 17465
1000 done of 17465
2000 done of 17465
3000 done of 17465
4000 done of 17465
5000 done of 17465
6000 done of 17465
7000 done of 17465
8000 done of 17465
9000 done of 17465
10000 done of 17465
11000 done of 17465
12000 done of 17465
13000 done of 17465
14000 done of 17465
15000 done of 17465
16000 done of 17465
17000 done of 17465

In [55]:
print("# reps 0 = " + str(match_counts.count(0)))
print("# reps 1 = " + str(match_counts.count(1)))
print("# reps 2 = " + str(match_counts.count(2)))
print("# reps 3 = " + str(match_counts.count(3)))
print("# reps 4 = " + str(match_counts.count(4)))
print("# reps 5 = " + str(match_counts.count(5)))
print("# reps 6 = " + str(match_counts.count(6)))

# reps 0 = 0
# reps 1 = 1
# reps 2 = 250
# reps 3 = 95
# reps 4 = 7319
# reps 5 = 9800
# reps 6 = 0

In [56]:
matches_len = [len(match[1]) for match in matches]

In [57]:
print("# reps 0 = " + str(matches_len.count(0)))
print("# reps 1 = " + str(matches_len.count(1)))

# reps 0 = 561
# reps 1 = 16904

In [58]:
officer_id = [None] * len(df_trr['officer_first_name'])

for i in range(len(officer_id)):
    if matches_len[i] == 1:
        if len(matches[i][1]) == 1:
            officer_id[i] = df_data_officer['id'][matches[i][1][0]]
        else:
            officer_id[i] = None
    else:
        officer_id[i] = None

officer_id

[5914,
 19114,
 27927,
 31189,
 8475,
 21639,
 752,
 27103,
 20551,
 20602,
 24159,
 12804,
 10086,
 6304,
 29645,
 3664,
 13277,
 14409,
 26926,
 23701,
 23620,
 12353,
 4252,
 21309,
 10152,
 1804,
 29340,
 1194,
 32194,
 32400,
 15230,
 15456,
 23494,
 15737,
 6922,
 4981,
 16130,
 32408,
 32122,
 32408,
 32122,
 25098,
 22383,
 19195,
 4229,
 18752,
 9986,
 8889,
 7963,
 11035,
 15767,
 24831,
 29529,
 16,
 13828,
 25098,
 2676,
 107,
 451,
 1283,
 27669,
 29676,
 24883,
 25830,
 7028,
 1323,
 2852,
 1616,
 27994,
 12351,
 17300,
 8103,
 16032,
 4659,
 26987,
 7963,
 18957,
 8690,
 21766,
 10505,
 5571,
 16291,
 9322,
 13574,
 14278,
 4568,
 9281,
 13752,
 24679,
 14103,
 27176,
 22573,
 30009,
 11897,
 14550,
 25311,
 22282,
 1652,
 25518,
 25789,
 10514,
 27994,
 16615,
 16615,
 26653,
 30009,
 22573,
 432,
 21477,
 31481,
 2110,
 18335,
 11650,
 22053,
 19964,
 29166,
 14896,
 13217,
 4614,
 23429,
 26631,
 17365,
 31394,
 4579,
 11751,
 32117,
 31869,
 24161,
 11556,
 10383,
 23610,
 14477,
 23777,
 22220,
 497,
 10338,
 16320,
 15456,
 25455,
 8384,
 14240,
 21084,
 8935,
 7701,
 27085,
 1819,
 23701,
 23150,
 17510,
 8908,
 19531,
 22261,
 24609,
 25833,
 15623,
 4199,
 16471,
 13322,
 13862,
 30580,
 8642,
 7100,
 5991,
 15945,
 5221,
 3785,
 21098,
 12873,
 9147,
 16711,
 7389,
 None,
 14900,
 16711,
 11449,
 1071,
 11091,
 25555,
 20739,
 13217,
 25578,
 1647,
 25718,
 27274,
 13555,
 13555,
 9804,
 4987,
 19115,
 16967,
 6954,
 25209,
 3984,
 8794,
 7843,
 4581,
 3981,
 16292,
 11464,
 18654,
 13378,
 8485,
 None,
 4677,
 3928,
 1283,
 30561,
 21768,
 3456,
 17346,
 18721,
 7387,
 11373,
 25369,
 3388,
 14620,
 5444,
 14839,
 25153,
 28325,
 19280,
 29332,
 27765,
 9484,
 28447,
 7842,
 24637,
 18616,
 9292,
 18520,
 None,
 20536,
 20313,
 25165,
 19549,
 15842,
 28254,
 7659,
 8234,
 13362,
 10090,
 21847,
 None,
 29096,
 None,
 2723,
 27677,
 22627,
 16405,
 7009,
 8171,
 2507,
 19549,
 19549,
 25296,
 32428,
 14079,
 14707,
 9123,
 26188,
 5052,
 28056,
 26920,
 1261,
 24720,
 8623,
 19694,
 26963,
 30861,
 None,
 22516,
 10942,
 9709,
 28751,
 31003,
 2419,
 16891,
 24807,
 14610,
 17398,
 19115,
 11257,
 17398,
 5910,
 10529,
 17570,
 31397,
 22783,
 36,
 6161,
 1852,
 4484,
 32023,
 7631,
 25177,
 23379,
 5825,
 32094,
 5145,
 21326,
 4758,
 18333,
 11855,
 1674,
 5663,
 442,
 12497,
 13378,
 31898,
 26399,
 7878,
 20867,
 32174,
 13217,
 11863,
 24491,
 21639,
 6470,
 499,
 29433,
 14246,
 29014,
 5523,
 3082,
 530,
 1464,
 23229,
 8462,
 5207,
 19311,
 1136,
 16320,
 5914,
 21757,
 4753,
 11149,
 32355,
 22056,
 29768,
 3380,
 19694,
 8981,
 12351,
 27411,
 9309,
 6254,
 26855,
 13974,
 11795,
 14751,
 27632,
 28444,
 31683,
 14168,
 14168,
 12060,
 16201,
 10632,
 16532,
 399,
 30519,
 8078,
 18743,
 11116,
 2558,
 16615,
 12060,
 28648,
 20038,
 29166,
 1647,
 24503,
 15147,
 14706,
 12158,
 2507,
 890,
 21766,
 17637,
 25178,
 9697,
 11808,
 18529,
 18529,
 15672,
 1366,
 27311,
 27991,
 20300,
 24491,
 752,
 31339,
 24754,
 19313,
 23167,
 12307,
 28877,
 28667,
 29581,
 31298,
 1914,
 31867,
 31646,
 499,
 31870,
 8169,
 8472,
 9467,
 2069,
 18529,
 11808,
 None,
 20172,
 2100,
 7824,
 15221,
 26272,
 6230,
 32141,
 32255,
 7426,
 3669,
 30787,
 13360,
 13600,
 13534,
 2097,
 8142,
 16810,
 28113,
 17262,
 8556,
 17086,
 5991,
 14900,
 22532,
 14982,
 464,
 11216,
 21766,
 21517,
 7387,
 27116,
 2890,
 28329,
 29795,
 7144,
 16730,
 23991,
 13217,
 None,
 10579,
 21639,
 10579,
 13217,
 21639,
 None,
 10213,
 15182,
 14720,
 33852,
 20046,
 9237,
 19305,
 29452,
 29505,
 26358,
 20177,
 22084,
 2579,
 30562,
 28871,
 6538,
 14246,
 19287,
 21190,
 31527,
 13800,
 24922,
 4866,
 19478,
 16302,
 13605,
 14837,
 22946,
 13234,
 8355,
 28712,
 5056,
 26113,
 19620,
 25026,
 30600,
 27994,
 25750,
 29650,
 28043,
 22543,
 17825,
 25221,
 10717,
 6561,
 743,
 6087,
 21562,
 21768,
 23429,
 11060,
 17077,
 22532,
 30290,
 12680,
 3044,
 11634,
 28184,
 19656,
 14553,
 10938,
 2696,
 19287,
 9358,
 11526,
 23331,
 29577,
 9891,
 8399,
 1557,
 13933,
 29103,
 27307,
 23215,
 None,
 16590,
 31737,
 28109,
 14443,
 2633,
 28687,
 5879,
 6765,
 17398,
 31145,
 21873,
 21873,
 28254,
 28451,
 28451,
 19496,
 3549,
 None,
 None,
 16966,
 8171,
 16235,
 3568,
 12382,
 19317,
 8355,
 5678,
 4252,
 28329,
 1769,
 3657,
 7273,
 5056,
 25789,
 26272,
 21639,
 32020,
 13940,
 6561,
 18560,
 20187,
 2113,
 10045,
 29436,
 12059,
 24602,
 9281,
 18840,
 7237,
 22659,
 22782,
 11798,
 10152,
 17370,
 27985,
 20104,
 8718,
 23131,
 2909,
 7098,
 31196,
 31196,
 18791,
 12085,
 24117,
 23218,
 28318,
 8219,
 12181,
 28031,
 5057,
 5331,
 3694,
 31591,
 24717,
 13119,
 28274,
 8506,
 21552,
 13781,
 4079,
 32430,
 3852,
 14908,
 25343,
 10852,
 13005,
 13349,
 19561,
 9472,
 348,
 23192,
 1963,
 6763,
 27261,
 27262,
 14058,
 27263,
 7411,
 27263,
 25098,
 1647,
 2988,
 29060,
 16292,
 26061,
 3549,
 21768,
 28367,
 1286,
 21191,
 7387,
 7079,
 2798,
 31576,
 451,
 1283,
 27103,
 16320,
 21221,
 30152,
 15245,
 5893,
 31116,
 1227,
 27148,
 13873,
 28309,
 10361,
 3568,
 6676,
 430,
 4978,
 9237,
 29627,
 29627,
 8304,
 31116,
 30561,
 26272,
 28329,
 1647,
 1366,
 19804,
 23494,
 31501,
 2280,
 6867,
 10360,
 21930,
 10262,
 21146,
 29487,
 8484,
 2463,
 16431,
 28876,
 2170,
 29205,
 15273,
 2681,
 29408,
 13288,
 5239,
 31828,
 21766,
 25311,
 24437,
 24563,
 20567,
 12057,
 3296,
 5454,
 6866,
 31498,
 521,
 3495,
 14183,
 14969,
 13746,
 3498,
 6114,
 7720,
 28251,
 29256,
 23531,
 21639,
 19305,
 9380,
 29478,
 4103,
 31809,
 24695,
 22946,
 5534,
 4806,
 22868,
 2909,
 21971,
 4229,
 19195,
 23150,
 1197,
 30073,
 13933,
 13456,
 10203,
 21309,
 25221,
 18679,
 3017,
 20962,
 2069,
 22564,
 7002,
 21455,
 28179,
 29833,
 17332,
 22076,
 8690,
 15998,
 31946,
 32009,
 31992,
 15,
 31821,
 32375,
 21070,
 20481,
 4872,
 20038,
 17510,
 1434,
 15987,
 24754,
 28448,
 32023,
 492,
 24562,
 29487,
 32067,
 19519,
 4581,
 25789,
 28251,
 30131,
 15778,
 20185,
 5221,
 8563,
 14282,
 19100,
 3466,
 14240,
 29564,
 9472,
 24120,
 29478,
 15640,
 4463,
 6855,
 2570,
 24491,
 23610,
 17802,
 14477,
 23340,
 30053,
 31374,
 25221,
 6541,
 16320,
 2022,
 31439,
 16337,
 31552,
 9709,
 8248,
 23258,
 24059,
 23817,
 25723,
 5531,
 2694,
 14059,
 31596,
 31166,
 20196,
 27504,
 10145,
 31411,
 3045,
 2909,
 11021,
 12085,
 21930,
 4787,
 16034,
 27026,
 26859,
 16838,
 25718,
 2113,
 3761,
 4638,
 5236,
 13113,
 4397,
 15629,
 20057,
 13673,
 1647,
 25613,
 11328,
 3852,
 6804,
 20433,
 26357,
 5221,
 19838,
 12044,
 19968,
 1744,
 None,
 None,
 27151,
 32402,
 32023,
 11250,
 11372,
 14859,
 17887,
 5991,
 7100,
 18773,
 1283,
 25518,
 1257,
 1257,
 14674,
 25273,
 209,
 464,
 25867,
 4027,
 11075,
 1349,
 5565,
 2470,
 24019,
 9309,
 31298,
 11398,
 12925,
 29563,
 13258,
 18840,
 10719,
 30598,
 15640,
 10518,
 9574,
 28384,
 1819,
 23133,
 17291,
 14393,
 23048,
 24637,
 3560,
 5678,
 1695,
 4362,
 4848,
 14893,
 4078,
 28894,
 28894,
 18604,
 18604,
 29603,
 12373,
 26358,
 8880,
 403,
 15375,
 4082,
 4072,
 30374,
 None,
 None,
 2290,
 31196,
 31451,
 9993,
 2231,
 19697,
 9986,
 28184,
 3516,
 26496,
 11149,
 18225,
 7701,
 1714,
 25223,
 12898,
 11222,
 28063,
 26143,
 18840,
 24615,
 14698,
 11376,
 18840,
 25177,
 22675,
 12057,
 19610,
 5294,
 16393,
 30538,
 4392,
 11250,
 21639,
 13217,
 7913,
 21275,
 19671,
 14553,
 251,
 9457,
 20567,
 6258,
 209,
 6651,
 16291,
 1949,
 21969,
 3456,
 20307,
 26333,
 23279,
 14443,
 17830,
 17332,
 22076,
 None,
 15002,
 5910,
 9906,
 16951,
 12866,
 8484,
 26165,
 2463,
 28770,
 9760,
 23838,
 12416,
 16061,
 4654,
 None,
 23133,
 4230,
 18752,
 19519,
 ...]

In [59]:
df_trr['officer_id'] = [nan] * len(df_trr['officer_first_name'])

for i in range(len(df_trr['officer_id'])):
    if officer_id[i] is not None:
        df_trr['officer_id'][i] = int(officer_id[i])

df_trr['officer_id'].astype('Int64')

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/1161356799.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trr['officer_id'][i] = int(officer_id[i])

0         5914
1        19114
2        27927
3        31189
4         8475
         ...
17460    35037
17461    35283
17462    33460
17463    34847
17464    33303
Name: officer_id, Length: 17465, dtype: Int64

In [60]:
match_counts = [0] * len(df_trrstatus['officer_first_name'])
conflicts = []
matches = []

for i in range(len(df_trrstatus['officer_first_name'])):
    temp_idx, temp_counter = mapper(df_trrstatus['officer_first_name'][i], df_data_officer['first_name'])
    match_counts[i] = match_counts[i] + temp_counter

    temp_idx1, temp_counter = mapper(df_trrstatus['officer_last_name'][i], df_data_officer['last_name'])
    temp_idx = list(set.intersection(*map(set, [temp_idx, temp_idx1])))
    match_counts[i] = match_counts[i] + temp_counter

    if len(temp_idx) == 1:
        if df_trrstatus['officer_race'][i] == df_data_officer['race'][temp_idx[0]]:
            match_counts[i] += 1
        if df_trrstatus['officer_gender'][i] == df_data_officer['gender'][temp_idx[0]]:
            match_counts[i] += 1
        if df_trrstatus['officer_appointed_date'][i] == df_data_officer['appointed_date'][temp_idx[0]]:
            match_counts[i] += 1
        if df_trrstatus['officer_birth_year'][i] == df_data_officer['birth_year'][temp_idx[0]]:
            match_counts[i] += 1
        matches.append([match_counts[i], temp_idx])
    else:
        temp_idx1, temp_counter = mapper(df_trrstatus['officer_appointed_date'][i], df_data_officer['appointed_date'])
        temp_idx = list(set.intersection(*map(set, [temp_idx, temp_idx1])))
        match_counts[i] = match_counts[i] + temp_counter

        if len(temp_idx) == 1:
            if df_trrstatus['officer_race'][i] == df_data_officer['race'][temp_idx[0]]:
                match_counts[i] += 1
            if df_trrstatus['officer_gender'][i] == df_data_officer['gender'][temp_idx[0]]:
                match_counts[i] += 1
            if df_trrstatus['officer_birth_year'][i] == df_data_officer['birth_year'][temp_idx[0]]:
                match_counts[i] += 1
            matches.append([match_counts[i], temp_idx])
        
        else:
            temp_idx1, temp_counter = mapper(df_trrstatus['officer_birth_year'][i], df_data_officer['birth_year'])
            temp_idx = list(set.intersection(*map(set, [temp_idx, temp_idx1])))
            match_counts[i] = match_counts[i] + temp_counter

            if len(temp_idx) == 1:
                if df_trrstatus['officer_race'][i] == df_data_officer['race'][temp_idx[0]]:
                    match_counts[i] += 1
                if df_trrstatus['officer_gender'][i] == df_data_officer['gender'][temp_idx[0]]:
                    match_counts[i] += 1
                matches.append([match_counts[i], temp_idx])

            else:
                temp_idx1, temp_counter = mapper(df_trrstatus['officer_race'][i], df_data_officer['race'])
                temp_idx = list(set.intersection(*map(set, [temp_idx, temp_idx1])))
                match_counts[i] = match_counts[i] + temp_counter

                if len(temp_idx) == 1:
                    if df_trrstatus['officer_gender'][i] == df_data_officer['gender'][temp_idx[0]]:
                        match_counts[i] += 1
                    matches.append([match_counts[i], temp_idx])

                else:
                    temp_idx1, temp_counter = mapper(df_trrstatus['officer_gender'][i], df_data_officer['gender'])
                    temp_idx = list(set.intersection(*map(set, [temp_idx, temp_idx1])))
                    match_counts[i] = match_counts[i] + temp_counter

                    matches.append([match_counts[i], temp_idx])
    
    if len(temp_idx) > 1:
        conflicts.append([i, temp_idx])
    
    if i % 1000 == 0:
        print(str(i) + " done of " + str(len(df_trrstatus['officer_first_name'])))

0 done of 63455
1000 done of 63455
2000 done of 63455
3000 done of 63455
4000 done of 63455
5000 done of 63455
6000 done of 63455
7000 done of 63455
8000 done of 63455
9000 done of 63455
10000 done of 63455
11000 done of 63455
12000 done of 63455
13000 done of 63455
14000 done of 63455
15000 done of 63455
16000 done of 63455
17000 done of 63455
18000 done of 63455
19000 done of 63455
20000 done of 63455
21000 done of 63455
22000 done of 63455
23000 done of 63455
24000 done of 63455
25000 done of 63455
26000 done of 63455
27000 done of 63455
28000 done of 63455
29000 done of 63455
30000 done of 63455
31000 done of 63455
32000 done of 63455
33000 done of 63455
34000 done of 63455
35000 done of 63455
36000 done of 63455
37000 done of 63455
38000 done of 63455
39000 done of 63455
40000 done of 63455
41000 done of 63455
42000 done of 63455
43000 done of 63455
44000 done of 63455
45000 done of 63455
46000 done of 63455
47000 done of 63455
48000 done of 63455
49000 done of 63455
50000 done of 63455
51000 done of 63455
52000 done of 63455
53000 done of 63455
54000 done of 63455
55000 done of 63455
56000 done of 63455
57000 done of 63455
58000 done of 63455
59000 done of 63455
60000 done of 63455
61000 done of 63455
62000 done of 63455
63000 done of 63455

In [61]:
print("# reps 0 = " + str(match_counts.count(0)))
print("# reps 1 = " + str(match_counts.count(1)))
print("# reps 2 = " + str(match_counts.count(2)))
print("# reps 3 = " + str(match_counts.count(3)))
print("# reps 4 = " + str(match_counts.count(4)))
print("# reps 5 = " + str(match_counts.count(5)))
print("# reps 6 = " + str(match_counts.count(6)))

# reps 0 = 0
# reps 1 = 1
# reps 2 = 660
# reps 3 = 127
# reps 4 = 22084
# reps 5 = 40583
# reps 6 = 0

In [62]:
matches_len = [len(match[1]) for match in matches]

In [63]:
print("# reps 0 = " + str(matches_len.count(0)))
print("# reps 1 = " + str(matches_len.count(1)))

# reps 0 = 1238
# reps 1 = 62217

In [64]:
status_officer_id = [None] * len(df_trrstatus['officer_first_name'])

for i in range(len(status_officer_id)):
    if matches_len[i] == 1:
        if len(matches[i][1]) == 1:
            status_officer_id[i] = df_data_officer['id'][matches[i][1][0]]
        else:
            status_officer_id[i] = None
    else:
        status_officer_id[i] = None

status_officer_id

[23701,
 3785,
 27736,
 29340,
 3785,
 27736,
 23620,
 12025,
 20818,
 12353,
 9014,
 1097,
 4252,
 32389,
 11061,
 21309,
 6224,
 6224,
 10152,
 21229,
 30520,
 1804,
 21229,
 30520,
 1194,
 21229,
 30520,
 32194,
 32336,
 24562,
 32400,
 16427,
 5002,
 15230,
 16427,
 5002,
 15456,
 32423,
 14630,
 23494,
 32423,
 13911,
 28367,
 2189,
 21473,
 16130,
 32423,
 14630,
 32408,
 32067,
 14630,
 32122,
 32067,
 14630,
 32408,
 32067,
 14630,
 32122,
 32067,
 14630,
 25098,
 9309,
 2859,
 22383,
 25580,
 5002,
 19195,
 25580,
 5002,
 4229,
 25580,
 5002,
 18752,
 25580,
 5002,
 9986,
 3017,
 6224,
 8889,
 3017,
 6224,
 7963,
 20500,
 28612,
 11035,
 20500,
 28612,
 15767,
 32200,
 6222,
 29529,
 32200,
 6222,
 24831,
 8537,
 20818,
 9727,
 8537,
 20818,
 16,
 16365,
 20249,
 13828,
 20249,
 20249,
 13437,
 25198,
 22077,
 3716,
 25198,
 22077,
 23725,
 25198,
 22077,
 25098,
 9309,
 4119,
 2676,
 9309,
 4119,
 9309,
 4119,
 4119,
 107,
 10800,
 12390,
 451,
 16636,
 11008,
 1283,
 16636,
 11008,
 27669,
 31921,
 28612,
 8103,
 31921,
 28612,
 16032,
 31921,
 28612,
 29676,
 31921,
 28612,
 4659,
 24572,
 28612,
 24883,
 31921,
 28612,
 26987,
 12048,
 27498,
 25830,
 12048,
 27498,
 27498,
 7028,
 22229,
 22999,
 1323,
 22229,
 22999,
 2852,
 7524,
 23807,
 1616,
 7524,
 23807,
 27994,
 4030,
 20930,
 12351,
 4588,
 28060,
 17300,
 28060,
 28060,
 24098,
 21827,
 31637,
 13350,
 17859,
 31637,
 7886,
 21827,
 31637,
 4168,
 17859,
 31637,
 7963,
 8187,
 11875,
 18957,
 8187,
 11875,
 8690,
 8187,
 11875,
 21766,
 11007,
 21309,
 25311,
 21013,
 7047,
 10505,
 17490,
 27736,
 5571,
 20385,
 29181,
 16291,
 4636,
 20125,
 9322,
 None,
 20125,
 12049,
 31030,
 22077,
 13574,
 14245,
 27736,
 14278,
 19021,
 18259,
 4568,
 19021,
 18259,
 9281,
 24425,
 11904,
 13752,
 24425,
 11904,
 24679,
 8698,
 30835,
 14103,
 8698,
 30835,
 22282,
 6950,
 15976,
 27176,
 6950,
 15976,
 1652,
 29844,
 32173,
 22573,
 19614,
 12449,
 30009,
 19614,
 12449,
 11897,
 29844,
 32173,
 22223,
 17804,
 18055,
 14550,
 17804,
 18055,
 25518,
 6254,
 26182,
 25789,
 27448,
 30520,
 10514,
 27448,
 30520,
 27994,
 27448,
 30520,
 23429,
 27448,
 30520,
 27084,
 27448,
 30520,
 11060,
 27448,
 30520,
 16615,
 27448,
 30520,
 16615,
 27448,
 30520,
 31498,
 28661,
 21473,
 26653,
 27448,
 30520,
 30009,
 5075,
 20818,
 22573,
 5075,
 20818,
 432,
 5075,
 20818,
 21477,
 5075,
 20818,
 31481,
 5075,
 20818,
 2110,
 5075,
 20818,
 18335,
 10283,
 27575,
 11650,
 9309,
 2859,
 8803,
 19021,
 18259,
 22053,
 19021,
 18259,
 19964,
 8022,
 19149,
 8022,
 19149,
 19149,
 29166,
 1366,
 1097,
 14896,
 22195,
 30581,
 13217,
 1366,
 1097,
 427,
 27733,
 13911,
 4614,
 29730,
 32173,
 23777,
 8022,
 28612,
 26631,
 8022,
 28612,
 17365,
 9963,
 13336,
 31394,
 9963,
 13336,
 22220,
 6678,
 14684,
 497,
 6678,
 14684,
 4579,
 18655,
 11215,
 10338,
 11751,
 30554,
 11089,
 11751,
 30554,
 11751,
 30554,
 30554,
 7939,
 25772,
 27614,
 1989,
 16124,
 28060,
 21596,
 16124,
 28060,
 21477,
 16124,
 28060,
 2110,
 16124,
 28060,
 474,
 8214,
 21309,
 16235,
 8214,
 21309,
 19317,
 6765,
 24842,
 32117,
 32228,
 32228,
 31869,
 32228,
 32228,
 32294,
 32228,
 32228,
 24161,
 16299,
 11695,
 11556,
 16299,
 11695,
 9316,
 29833,
 25909,
 10383,
 29833,
 25909,
 23610,
 26196,
 13911,
 14477,
 26196,
 13911,
 5914,
 3785,
 5002,
 16320,
 7801,
 5002,
 15456,
 32423,
 14630,
 27069,
 6947,
 14524,
 25365,
 488,
 15976,
 19531,
 3785,
 29181,
 25455,
 3785,
 29181,
 22261,
 14839,
 12935,
 8384,
 14839,
 12935,
 14240,
 7242,
 886,
 21084,
 7242,
 886,
 24609,
 6765,
 15511,
 8935,
 14480,
 20125,
 7701,
 14480,
 20125,
 27085,
 22890,
 15511,
 1819,
 22890,
 15511,
 23701,
 28970,
 27736,
 23150,
 28970,
 27736,
 17510,
 21813,
 15511,
 25833,
 6644,
 15511,
 8908,
 6644,
 15511,
 15623,
 6644,
 15511,
 4199,
 21479,
 18055,
 10328,
 21479,
 18055,
 1043,
 10800,
 12390,
 7080,
 18655,
 18259,
 7702,
 17062,
 28060,
 23189,
 17062,
 28060,
 16471,
 3361,
 23959,
 13322,
 3361,
 23959,
 13862,
 3361,
 23959,
 11449,
 3361,
 23959,
 30580,
 3361,
 23959,
 8642,
 21098,
 21309,
 7100,
 21098,
 21309,
 5991,
 21098,
 21309,
 15945,
 15599,
 7044,
 5221,
 21098,
 21309,
 1071,
 3790,
 20067,
 3785,
 29134,
 29134,
 21098,
 11007,
 21309,
 12873,
 29795,
 20067,
 9147,
 11007,
 21309,
 16711,
 21098,
 21309,
 11091,
 3785,
 29134,
 25555,
 9675,
 2769,
 29377,
 15976,
 24996,
 24106,
 15976,
 24996,
 24615,
 29844,
 7047,
 23110,
 29844,
 7047,
 7389,
 12480,
 24034,
 25494,
 6873,
 27614,
 None,
 11704,
 27614,
 14900,
 4381,
 7044,
 16711,
 21098,
 20067,
 20739,
 12947,
 20067,
 25209,
 12947,
 20067,
 3984,
 25578,
 8525,
 13217,
 1366,
 1490,
 25578,
 8525,
 8525,
 1647,
 1366,
 1490,
 31498,
 28661,
 21473,
 25718,
 8698,
 886,
 8794,
 27274,
 21563,
 4252,
 16636,
 13911,
 27274,
 27274,
 21563,
 27688,
 11383,
 12449,
 13555,
 27274,
 21563,
 13555,
 27274,
 21563,
 29772,
 4707,
 14903,
 9804,
 24612,
 31717,
 3721,
 16541,
 20302,
 24845,
 17024,
 20302,
 None,
 17024,
 20302,
 None,
 17024,
 20302,
 4987,
 16059,
 886,
 15866,
 17358,
 17275,
 19115,
 29795,
 31081,
 1581,
 17358,
 17275,
 7843,
 17358,
 17275,
 16967,
 17358,
 17275,
 6954,
 17358,
 17275,
 3981,
 18721,
 22999,
 17346,
 29730,
 23393,
 16292,
 29730,
 23393,
 11464,
 18721,
 22999,
 18721,
 25909,
 22999,
 7387,
 29795,
 24842,
 18654,
 29795,
 24842,
 13378,
 29432,
 17176,
 11373,
 16541,
 17176,
 25369,
 29432,
 17176,
 8485,
 29432,
 17176,
 7590,
 29432,
 17176,
 60,
 29432,
 17176,
 12013,
 9088,
 4149,
 None,
 9088,
 4149,
 4677,
 9088,
 4149,
 3928,
 32211,
 24562,
 32316,
 32211,
 24562,
 1283,
 32389,
 11061,
 30561,
 14630,
 11061,
 21768,
 25799,
 20930,
 6259,
 25198,
 22077,
 21335,
 25198,
 22077,
 12049,
 25198,
 22077,
 20057,
 21509,
 1619,
 7609,
 21509,
 1619,
 3456,
 14839,
 12935,
 14620,
 14839,
 12935,
 5444,
 4636,
 20125,
 14839,
 12935,
 12935,
 25153,
 4636,
 20125,
 12935,
 12935,
 12935,
 19280,
 4636,
 20125,
 29332,
 23959,
 23959,
 29174,
 23959,
 23959,
 19845,
 312,
 14616,
 20536,
 7242,
 30029,
 23775,
 312,
 14616,
 27765,
 7242,
 30029,
 4581,
 12040,
 9883,
 20313,
 12040,
 9883,
 9484,
 21229,
 30520,
 28447,
 4654,
 9152,
 7842,
 4654,
 9152,
 24637,
 4654,
 9152,
 18616,
 4654,
 9152,
 27226,
 29015,
 19591,
 7803,
 27226,
 19591,
 9292,
 26181,
 4149,
 25165,
 4864,
 4149,
 18520,
 26854,
 13911,
 None,
 22854,
 30029,
 19549,
 22253,
 24844,
 19549,
 22253,
 24844,
 19549,
 22253,
 24844,
 21385,
 3716,
 21774,
 19955,
 3716,
 21774,
 28254,
 9675,
 21774,
 25296,
 11656,
 24034,
 7659,
 22151,
 7958,
 8234,
 10090,
 19591,
 23462,
 13604,
 14086,
 13362,
 10090,
 19591,
 10090,
 19591,
 19591,
 21847,
 6189,
 20204,
 10090,
 10090,
 19591,
 29096,
 20205,
 25909,
 None,
 22854,
 30029,
 2723,
 30529,
 1359,
 8897,
 30529,
 1359,
 27677,
 19548,
 7261,
 22627,
 19548,
 7261,
 16405,
 19548,
 7261,
 22229,
 14684,
 14684,
 10262,
 11007,
 31081,
 7009,
 22854,
 886,
 8171,
 22854,
 886,
 507,
 22854,
 886,
 2507,
 25144,
 1097,
 23404,
 22553,
 27614,
 32428,
 13273,
 1992,
 14079,
 13273,
 1992,
 23427,
 25995,
 1974,
 22285,
 25995,
 1974,
 10942,
 6701,
 20125,
 14707,
 27365,
 26182,
 3388,
 2563,
 28158,
 15842,
 2563,
 28158,
 5406,
 25578,
 8525,
 24353,
 25578,
 8525,
 9123,
 11136,
 8417,
 26188,
 11136,
 8417,
 5052,
 26920,
 29181,
 28056,
 26920,
 29181,
 26920,
 29181,
 29181,
 1261,
 26920,
 29181,
 24720,
 1336,
 22163,
 9709,
 30957,
 26182,
 8623,
 30957,
 26182,
 19694,
 31199,
 25909,
 28751,
 25620,
 20204,
 26963,
 24425,
 1490,
 31003,
 24425,
 1490,
 30861,
 15863,
 10965,
 None,
 4677,
 4149,
 22516,
 19163,
 7047,
 2419,
 22516,
 7047,
 13746,
 25965,
 9883,
 ...]

In [65]:
df_trrstatus['officer_id'] = [nan] * len(df_trrstatus['officer_first_name'])

for i in range(len(df_trrstatus['officer_id'])):
    if status_officer_id[i] is not None:
        df_trrstatus['officer_id'][i] = int(status_officer_id[i])

df_trrstatus['officer_id'].astype('Int64')

/var/folders/py/m8ffqkf11ds_p03dft647dpc0000gn/T/ipykernel_77542/3259507568.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trrstatus['officer_id'][i] = int(status_officer_id[i])

0        23701
1         3785
2        27736
3        29340
4         3785
         ...
63450    13496
63451    17333
63452     8068
63453     8698
63454    22249
Name: officer_id, Length: 63455, dtype: Int64

In [66]:
df_trr1 = df_trr.drop(df_trr.columns[[30, 31, 29, 32, 33, 35, 36]], axis = 1)
df_trrstatus1 = df_trrstatus.drop(df_trrstatus.columns[[5, 6, 7, 8, 9, 11, 10]], axis = 1)

# Linking the Police Unit IDs

In [67]:
trr_query = "select * from data_policeunit"
cursor.execute(trr_query)
data_policeunit = cursor.fetchall()
print("data police unit dim is " + str(len(data_policeunit))) # 17465

df_data_policeunit = pd.DataFrame(data_policeunit)
colnames = [desc[0] for desc in cursor.description]
df_data_policeunit.columns = colnames

print(df_data_policeunit.shape)

data police unit dim is 272
(272, 7)

In [68]:
#add 0s till the length of the unit_name is 3
df_trr1['officer_unit_name'] = df_trr1['officer_unit_name'].apply(lambda x:x.zfill(3))

def func(x):
    try:
        return(df_data_policeunit['id'][df_data_policeunit['unit_name'] == x].values[0])
    except:
        return ('Null')

df_trr1['unit_id'] = df_trr1['officer_unit_name'].apply(lambda x: func(x) )

df_trr1['unit_id'][df_trr1['unit_id'] != 'Null']

0        12
1         8
2         9
3        23
4         7
         ..
17460    26
17461    26
17462    11
17463    11
17464    11
Name: unit_id, Length: 17227, dtype: object

In [69]:
df_trr1['officer_unit_detail'] = df_trr1['officer_unit_detail'].astype(str)

#add 0s till the length of the unit_detail is 3
df_trr1['officer_unit_detail'] = df_trr1['officer_unit_detail'].apply(lambda x:x.zfill(3))

def func(x):
    try: 
        return(df_data_policeunit['id'][df_data_policeunit['unit_name'] == x].values[0])
    except:
        return ('Null')    

df_trr1['unit_detail_id'] = df_trr1['officer_unit_detail'].apply(lambda x: func(x) )
df_trr1['unit_detail_id'] = df_trr1['unit_detail_id'].replace('Null', np.nan)
df_trr1['unit_detail_id'] = df_trr1['unit_detail_id'].astype(float)


df_trr1['unit_detail_id']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
17460   NaN
17461   NaN
17462   NaN
17463   NaN
17464   NaN
Name: unit_detail_id, Length: 17465, dtype: float64

In [70]:
df_trr1 = df_trr1.drop(['officer_unit_name','officer_unit_detail'], axis = 1)

# Putting it all together

In [71]:
df_trrstatus2 = df_trrstatus1[df_trrstatus1['trr_report_id'].isin(df_trr['id'])]

len(df_trrstatus2)

63449

In [72]:
df_actionresponse1 = df_actionresponse[df_actionresponse['trr_report_id'].isin(df_trr['id'])]

len(df_actionresponse1)

112994

In [73]:
df_weapondischarge1 = df_weapondischarge[df_weapondischarge['trr_report_id'].isin(df_trr['id'])]

len(df_weapondischarge1)

1308

In [74]:
df_charge1 = df_charge[df_charge['trr_report_id'].isin(df_trr['id'])]

len(df_charge1)

40481

In [75]:
df_subjectweapon1 = df_subjectweapon[df_subjectweapon['trr_report_id'].isin(df_trr['id'])]

len(df_subjectweapon1)

11731

In [76]:
df_charge2 = df_charge1.drop(df_charge1.columns[[0]], axis = 1)
df_trrstatus3 = df_trrstatus2.drop(df_trrstatus2.columns[[4,5]], axis = 1)
df_trr2 = df_trr1.drop(df_trr1.columns[[2,29, 30, 31, 32]], axis = 1)

In [77]:
df_trr2 = df_trr2.rename(columns={
    'event_number': 'event_id',
    'notify_oemc': 'notify_OEMC',
    'notify_op_command': 'notify_OP_command',
    'notify_det_division': 'notify_DET_division',
    'unit_id': 'officer_unit_id',
    'unit_detail_id': 'officer_unit_detail_id'
})

In [78]:
df_actionresponse1 = df_actionresponse1.rename(columns={
    'trr_report_id': 'trr_id'
})

In [79]:
df_charge2 = df_charge2.rename(columns={
    'trr_report_id': 'trr_id'
})

In [80]:
df_weapondischarge1 = df_weapondischarge1.rename(columns={
    'trr_report_id': 'trr_id'
})

In [81]:
df_trrstatus3 = df_trrstatus3.rename(columns={
    'officer_rank': 'rank',
    'officer_star': 'star',
    'trr_report_id': 'trr_id'
})

In [82]:
df_subjectweapon1 = df_subjectweapon1.rename(columns={
    'trr_report_id': 'trr_id'
})

In [86]:
col_names = [
    "id", "crid", "event_id", "beat", "block", "direction", "street", "location", "trr_datetime", 
    "indoor_or_outdoor", "lighting_condition", "weather_condition", "notify_OEMC", "notify_district_sergeant", 
    "notify_OP_command", "notify_DET_division", "party_fired_first", "officer_assigned_beat", "officer_on_duty", 
    "officer_in_uniform", "officer_injured", "officer_rank", "subject_armed", "subject_injured", 
    "subject_alleged_injury", "subject_age", "subject_birth_year", "subject_gender", "subject_race", "officer_id", 
    "officer_unit_id", "officer_unit_detail_id", "point"
]
df_trr3 = df_trr2.reindex(columns = col_names)

In [87]:
col_names = [
    "rank", "star", "status", "status_datetime", "officer_id", "trr_id"
]
df_trrstatus4 = df_trrstatus3.reindex(columns = col_names)

In [88]:
col_names = [
    "person", "resistance_type", "action", "other_description", "trr_id"
]
df_actionresponse2 = df_actionresponse1.reindex(columns = col_names)

In [89]:
col_names = [
    "weapon_type", "weapon_type_description", "firearm_make", "firearm_model", "firearm_barrel_length", 
    "firearm_caliber", "total_number_of_shots", "firearm_reloaded", "number_of_cartridge_reloaded", 
    "handgun_worn_type", "handgun_drawn_type", "method_used_to_reload", "sight_used", "protective_cover_used", 
    "discharge_distance", "object_struck_of_discharge", "discharge_position", "trr_id"
]
df_weapondischarge2 = df_weapondischarge1.reindex(columns = col_names)

In [90]:
col_names = [
    "statute", "description", "subject_no", "trr_id"
]
df_charge3 = df_charge2.reindex(columns = col_names)

In [91]:
col_names = [
    "weapon_type", "firearm_caliber", "weapon_description", "trr_id"
]
df_subjectweapon2 = df_subjectweapon1.reindex(columns = col_names)

In [92]:
Path("./game-of-drones/output").mkdir(parents=True, exist_ok=True)

In [93]:
df_trr3.to_csv("game-of-drones/output/trr-trr.csv")
df_trrstatus4.to_csv("game-of-drones/output/trr-trrstatus.csv")
df_actionresponse2.to_csv("game-of-drones/output/trr-actionresponse.csv")
df_weapondischarge2.to_csv("game-of-drones/output/trr-weapondischarge.csv")
df_charge3.to_csv("game-of-drones/output/trr-charge.csv")
df_subjectweapon2.to_csv("game-of-drones/output/trr-subjectweapon.csv")